<!-- Footer section -->
<footer class="bg-DarkestBlue mt-4 py-6 px-4 lg:px-0">
  <div class="container mx-auto">
      <div class="flex justify-between mx-0 lg:-mx-16 handle-margin">
          <div class="logo flex items-center space-x-4">
              <img src="https://techsphere.academy.talpods.io/public/imgs/Logo.svg" alt="Logo" class="w-16" />
              <p class="text-xs text-white">
                  &copy; <%= new Date().getFullYear() %> talpods.io | All rights reserved.
              </p>
          </div>
          <div class="linkedin">
              <a href="https://www.linkedin.com/company/tal-pods/" target="_blank">
                  <img src="https://techsphere.academy.talpods.io/public/imgs/linkedin.svg" alt="LinkedIn" class="w-8" />
              </a>
          </div>
      </div>
  </div>
</footer>

<script src="https://techsphere.academy.talpods.io/public/js/app.js"></script>
</body>
</html>