<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://techsphere.academy.talpods.io/public/imgs/favicon.png">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://techsphere.academy.talpods.io/public/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Talpods - <%= title %></title>
  </head>
  <body class="bg-LightBlue">
    <!-- Header -->
    <nav class="bg-DarkestBlue py-4 px-4 lg:px-0">
      <div class="container mx-auto">
        <div class="mx-0 lg:-mx-16 handle-margin">
          <a href="https://talpods.io">
            <img src="https://techsphere.academy.talpods.io/public/imgs/Logo.svg" alt="talpod logo" class="w-24 lg:w-36"
          /></a>
        </div>
      </div>
    </nav>