<%- include('partials/header.ejs', {title:"404"}) %>
<div style="height: calc(100vh - 160px); display: flex; align-items: center; justify-content: center; flex-direction: column">
    <h1 style="font-size: 70px;">404</h1>
    <p style="font-size: 30px; text-transform: capitalize;"><%= message %></p>
</div>
<%- include('partials/footer.ejs') %>